<div>
  <h1> <%= @members.first_name %> is booked in for </h1>
  <table>
    <tr>
      <th>
        Title
      </th>
      <th>
        Time
      </th>
      <th>
        Date
</th>
    </tr>
    <% for session in @sessions %>
    <tr>
      <td>
        <%=session.name %>
      </td>
      <td>
        <%=session.session_time %>
        </td>
      <td>
        <%=session.session_date %>
        </td>
    </tr>
    <% end %>
  </table>
</div>
