<div>
  <h1>Member Page</h1>

  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Premium</th>
        <th>Activity</th>
        <th></th>
      </thead>

      <tbody>
        <tr><% @members.each do |member| %>
          <td><%= member.first_name %></td>
          <td><%= member.last_name %></td>
          <td><% if member.premium  == "t" %>
            True
            <%else%>
            False
            <% end %></td>
            <td>
              <% if member.active  == "t" %>
              True
              <%else%>
              False
              <% end %>
            </td>
            <td><form action="/members/<%= member.id%>">
              <input class= "button1" type="submit" value="View Member"/>
            </form></td>
          </tr>

          <% end %>
        </tbody>

      </table>
    </br>
    <form method = "get" action="/members/new">
      <input class = "button1" type="submit" value="Add New Member"/>
    </form>

  </div>
