<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title> CodeClan Gym - Admin </title>
  <div id="logo" style="text-align:center">
            <img style ="vertical-align: middle" src="/images/logo.png" class = "logo" alt="Gym Logo"/>
            <span style="vertical-align: bottom; font-size: 26pt; font-weight: bold; font-family: 'Montserrat', sans-serif;"> Hygeia Gym: Management System </span>
  </div>
  <div id= "title">
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
  <main>
  <nav>
    <ul>
<li>
  <a href="/"> Home </a>
      <li>
        <a href="/members"> Members </a>
      </li>
      <li>
        <a href="/sessions"> Sessions </a>
      </li>
      <li>
          <input type="text" placeholder="Search..">
      </li>
    </ul>
  </nav>
      <%= yield %>
    </body>
    </html>
