<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title> CodeClan Gym - Admin </title>
  <div id="logo" style="text-align:center">
            <img style ="vertical-align: middle" src="/images/logo.png" class = "logo" alt="Gym Logo"/>
            <span style="vertical-align: bottom; font-size: 18pt; font-weight: bold"> Hygeia Gym: Management System </span>
  </div>
  <div id= "title">
  </div>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/members"> Members </a>
      </li>
      <li>
        <a href="/sessions"> Sessions </a>
      </li>
    </ul>
  </nav>
      <%= yield %>
    </body>
    </html>
