table, tr, td {
  border-bottom: 1px solid black;
  font-family: 'Roboto', sans-serif;
  padding: 6px;
  border-collapse: collapse;

}

th {
  border-bottom: 2px solid black;
  border-collapse: collapse;
  padding: 8px;
  background: lightgrey
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

#logo{
  display: inline-block;
  padding-top: 2em;
  padding-right: 2em;
}

main {
  padding: 25px;
}

head{
  padding: 25px;
}

nav {
  padding: 10px;
  padding-right: 25px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e3e3e3;
  font-family: 'Roboto', sans-serif;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
  font-size: 18px;
}

li a:hover {
  background-color: #999;
}

p {
  font-size: 1.2em;
}

.button1 {
  background-color: #42495e;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button2 {
  background-color: #b80404;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
