<div>

  <h1>
    <%= @session.name %> Attendance List
  </h1>


  <table>
    <thead>
    <tr>

      <th>First Name</th>
      <th>Last Name</th>
    </tr>
    <thead>

    <tbody>
  <tr>
    <% for booking in @bookings %>
      <td><%=booking.member.first_name %></td>
      <td><%=booking.member.last_name %></td>
      <td><form action="/bookings/<%=booking.id%>/delete" method="POST">
          <input type="submit" value="Delete" />
        </form></td>
        </tr>
      <% end %>
    </tbody>
</table>

</div>
