<div>
  <h1>Sessions Page</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Genre</th>
        <th></th>
      </thead>
      <tbody>
        <tr><% @sessions.each do |session| %>
          <td><%= session.name %></td>
          <td><%= session.genre %></td>
          <td><form action="/sessions/<%= session.id%>">
            <input class = "button1" type="submit" value="View Session"/>
          </form></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </br>
  <form method = "get" action="/sessions/new">
    <input class = "button1" type="submit" value="Add New Session"/>
  </form>

</div>
