<h1> New Class </h1>

<form method = "POST" action ="/sessions">

  <div class ="form_space">
    <label for ="name">Name</label>
    <input class="new_form" id ="name" type="text" name = "name" />
    <br />
  </div>

  <div class ="form_space">
    <label for ="genre">Genre</label>
    <input class="new_form" id = "genre" type="text" name ="genre"  />
    <br />
  </div>

  <div class ="form_space">
    <label for="session_time">Enter time:</label>
    <input class="new_form" id ="session_time" type ="time" name="session_time" />
    <br />
  </div>

  <div class ="form_space">
    <label for="session_date">Enter date:</label>
    <input class="new_form" id ="session_date" type ="date" name="session_date" />
    <br />
  </div>

  <div class ="form_space">
    <label for="capacity">Enter capacity:</label>
    <input class="new_form" id ="capacity" type ="number" name="capacity" />
    <br />
  </div>

  <input class = "button1" type="submit" value"Submit New Session" />
  <br />

</form>
